
{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 class="title">Rock Clicker</h1>

<div class="stats-bar">
<span id="score-text" class="stat rock"><p><span id="score">0</span> Rocks</p></span>
{% if profile.prestige_unlocked %}
<p>Crystals💎:<span id="crystals" class="stat crystal">{{profile.crystals}}</span></p>
{% endif %}
{% if profile.asteroid_unlocked %}
<p>Asteroids☄️:<span id="asteroids" class="stat asteroid">{{profile.asteroids}}</span></p>
{% endif %}
</div>

<div class="button-area">
<div class="row full">
<div id="click-area"><button id="click-button">Click</button></div>
</div>

<div class="row split">
<button id="prestige-button" class="{% if score >= 10000 %}prestige-active{% else %}locked-button{% endif %}">Prestige for <b>{{next_crystals}}</b>💎</button>
<button id="asteroid-button" class="{% if profile.asteroid_unlocked or score >= 1000000 %}asteroid-active{% else %}locked-button{% endif %}">Ascend for {{ next_asteroids }} ☄️</button>
</div>
</div>


<div class="catalogue-panel">

    <div class="catalogue-tabs">
        <button id="rocks-tab">🪨 Rocks</button>

        <button id="crystals-tab">💎 Crystals</button>

        <button id="asteroids-tab">☄️ Asteroids</button>
    </div>

    <div class="upgrade-catalogue">

        {% for item in upgrades %}
        <div class="upgrade" data-type="rock" data-id="{{item.upgrade.id}}">
            <h3>{{ item.upgrade.name }}</h3>

            <p>{{ item.upgrade.description }}</p>

            <h2>
            Level:
            <span class="level">
                {{ item.level }}
            </span>
            </h2>

            <p>
            Cost:
            <span class="cost" data-currency="rock">
                {{ item.cost }}
            </span>
            Rocks
            </p>

            <button class="buy-btn" >
                Buy
            </button>
            <button class="buy-max-btn">
                Buy Max
            </button>
        </div>
        {% endfor %}

        {% for item in prestige_upgrades %}
        <div class="upgrade" data-type="crystal" data-id="{{item.upgrade.id}}">
            <h3>{{ item.upgrade.name }}</h3>

            <p>{{ item.upgrade.description }}</p>

            <h2>
            Level:
            <span class="level">
                {{ item.level }}
            </span>
            </h2>

            <p>
            Cost:
            <span class="cost" data-currency="crystal">
                {{ item.cost }}
            </span>
            
            </p>

            <button class="buy-btn" >
                Buy
            </button>
            <button class="buy-max-btn">
                Buy Max
            </button>
        </div>
        {% endfor %}

        {% for item in asteroid_upgrades %}
        <div class="upgrade" data-type="asteroid" data-id="{{item.upgrade.id}}">
            <h3>{{ item.upgrade.name }}</h3>

            <p>{{ item.upgrade.description }}</p>

            <h2>
            Level:
            <span class="level">
                {{ item.level }}
            </span>
            </h2>

            <p>
            Cost:
            <span class="cost" data-currency="asteroid">
                {{ item.cost }}
            </span>
            </p>

            <button class="buy-btn" >
                Buy
            </button>
            <button class="buy-max-btn">
                Buy Max
            </button>
        </div>
        {% endfor %}

    </div>

</div>



{% endblock %}