
{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Home Page</h1>
{% if user.is_authenticated %}
<h2>Rank: {{ rank }}</h2>
{% endif %}
<span id="score-text"><p>Score: <span id="score">0</span></p></span>
<p>Crystals:<span id="crystals">{{profile.crystals}}</span></p>
<h2>
    Points per Click:
    <span id="ppc">
        {{ points_per_click }}
    </span>
</h2>
<div id="click-area">
<button id="click-button">Click</button>
</div>

<button id="prestige-btn">Prestige</button>

{% for item in upgrades %}
<div class="upgrade" data-id="{{item.upgrade.id}}">

    <h3>{{ item.upgrade.name }}</h3>

    <p>{{ item.upgrade.description }}</p>

    <h2>
    Level:
    <span class="level">
        {{ item.level }}
    </span>
    </h2>

    <p>
    Cost:
    <span class="cost">
        {{ item.cost }}
    </span>
    </p>

    <button class="buy-btn" >
        Buy
    </button>

</div>
{% endfor %}
{% endblock %}
