
{% extends "base.html" %}

{% block content %}


<h1 class="title">
🏆 Leaderboard
</h1>
<p></p>
<div class="leaderboard-panel">

<table class="leaderboard">

<tr>

<th>#</th>
<th>Name</th>

<th>Rocks</th>
<th>Gems💎</th>
<th>Asteroids☄️</th>



</tr>


{% for player in players %}

<tr class="
{% if forloop.counter == 1 %}
gold
{% elif forloop.counter == 2 %}
silver
{% elif forloop.counter == 3 %}
bronze
{% endif %}
{% if player.profile.user == request.user %}
current-player
{% endif %}
">

<td>

{% if forloop.counter == 1 %}
🥇

{% elif forloop.counter == 2 %}
🥈

{% elif forloop.counter == 3 %}
🥉

{% else %}
#{{forloop.counter}}
{% endif %}
</td>

<td>
{{ player.profile.user.username }}
</td>


<td>
🪨 {{ player.profile.score }}
</td>


<td>
💎{{ player.profile.crystals }}
</td>


<td>
☄️{{ player.profile.asteroids }}
</td>



</tr>

{% endfor %}

</table>
</div>
{% endblock %}